/* CSS Document */
body {background: tan;  
	font-family: sans-serif; 
}

#content {
    width: 70%;
    margin: auto;
    padding: 10px 20px 10px 20px;
		
}
h1 { 
	
}

h2 { 
}

p{
	
}
.price {
	color: darkgreen;
}

#contact {
	text-align: center;
	padding: 40px; 
	font-size: 150%;
}

a:link {
	color:saddlebrown;
	text-decoration: none;
}
a:visited { 
	color: rgba(80,46,16,1.00);
	text-decoration: none;	
}

a:hover{
	color: green;
	text-decoration: underline;	
}
